#instafeed {
  list-style-type:inherit;
  text-align: center;  
}
#instafeed li {
  position: relative;
  list-style: float;
  float:left;
  display: block;
  width:520px;
  height:425px;
  margin:5px auto;

}
#instafeed li img {
  max-width:100%;
  max-height:100%;
